@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/Gilroy/Bold/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Gilroy/Bold/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/Gilroy/Bold/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Gilroy/Bold/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Gilroy/Bold/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/Gilroy/Bold/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/Gilroy/Regular/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Gilroy/Regular/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/Gilroy/Regular/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Gilroy/Regular/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Gilroy/Regular/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/Gilroy/Regular/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Black';
	src: url('../fonts/Gilroy/Black/gilroy-black.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Gilroy/Black/gilroy-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/Gilroy/Black/gilroy-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Gilroy/Black/gilroy-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Gilroy/Black/gilroy-black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/Gilroy/Black/gilroy-black.svg#gilroy-black') format('svg'); /* Chrome < 4, Legacy iOS */
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	width: 100%;
	background: #000;
	background: linear-gradient(127.16deg, #F3C110 0.9%, #F37E10 100%);
	height: 250px;

	position: relative;
	overflow: hidden;

	text-align: center;
	line-height: 200px;
}

header img {
	height: 50px;
}


.c-gradient {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: #FFFFFF;
	opacity: 0.05;
	filter: blur(4px);
}

.c-gradient-1 {
	height: 220px;
	width: 220px;
	z-index: 4;
}

.c-gradient-2 {
	height: 330px;
	width: 330px;
	z-index: 3;
}

.c-gradient-3 {
	height: 440px;
	width: 440px;
	z-index: 2;
}

.c-gradient-4 {
	height: 550px;
	width: 550px;
	z-index: 1;
}

.content {
	width: 90%;
	max-width: 560px;
	margin: 0px auto 0 auto;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.08);
	background: #fff;
	padding: 40px 60px;
	box-sizing: border-box;
	z-index: 10;
	position: relative;
	top: -50px;
}

.content h1 {
	font-size: 25px;
	font-family: 'Gilroy-Black', Tahoma, Arial, sans-serif;
	font-weight: bold;
	color: #1074F3;
	margin: 0;
}

.content-text {
	font-size: 14px;
	color: #1075f3;
	font-family: 'Gilroy-Bold', Tahoma, Arial, sans-serif;
	font-weight: bold;
	line-height: 18px;
	margin-top: 30px;
}

.content a {
	width: 100%;
	background: linear-gradient(127.16deg, #F3C110 0.9%, #F37E10 100%);
	color: white;
	text-transform: uppercase;
	font-family: 'Gilroy-Bold', Tahoma, Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	text-decoration: none;
	display: inline-block;
	border-radius: 10px;
	margin-top: 30px;
	padding: 12px 15px;
	text-align: center;
	box-sizing: border-box;
}

.content a:hover {
	transform: scale(.97);
	transition: all .2s;
}

footer {
	margin-top: 0;
	margin-bottom: 10px;
	width: 100%;
}

.footer-contacts {
	margin-bottom: 15px;
	text-align: center;
}

.contact {
	font-size: 14px;
	font-family: 'Gilroy-Bold', Tahoma, Arial, sans-serif;
	font-weight: bold;
	color: #1074F3;
}

.contact:not(.contact:last-child) {
	margin-right: 25px;	
}


@media screen and (max-width: 550px) {
	header {
		height: 200px;
	}
	.content {
		padding: 30px 45px;
	}
	h1 {
		font-size: 24px;
	}

}

@media screen and (max-width: 490px) {
	h1 {
		text-align: center;
	}
}

@media screen and (max-width: 430px) {
	.content {
		padding: 35px;
	}
	.contact {
		display: block;
		text-align: center;
		margin: 10px 0 !important;
		font-size: 18px;
	}
}

@media screen and (max-width: 330px) {
	.content {
		padding: 25px;
	}
}
