{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/styles_email.css' %}">

</head>
<body>

	<div class="top-block">
		<header>
            <img src="https://letseat.su/{% static 'img/big-white-log.png' %}" alt="Логотип">
		</header>

		<div class="content">
			<h1>Напоминание об оплате</h1>
			<div class="content-text">
                Здравствуйте, {{ name_user }}! Ваша подписка заканчивается уже {{ date_sub }}! Не забудьте вовремя оплатить её, чтобы и дальше пользоваться нашим сервисом. <br/><br/>Хорошей работы!
            </div>
			<a href="https://letseat.su/personal_area/{{ establishment_pk }}/">Перейти в личный кабинет</a>
		</div>
	</div>


	<div class="bottom-block">
		<footer>
		<div class="footer-contacts">
			<span class="contact mr25">letseat.help@gmail.com</span>
			<span class="contact mr25">+79289554624</span>
			<span class="contact">+79187188008</span>
		</div>
	</footer>
	</div>

</body>
</html>