{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/styles_email.css' %}">
</head>
<body>

	<div class="top-block">
		<header>
            <img src="https://letseat.su/{% static 'img/big-white-log.png' %}" alt="Логотип">
		</header>

		<div class="content">
			<h1>Восстановление пароля</h1>
			<div class="content-text">
                Здравствуйте, {{ user.get_full_name }}! Вы подали заявку на восстановление пароля. Чтобы продолжить нажмите на кнопку ниже.
            </div>
			<a href="https://{{ domain }}{% url 'password_reset_confirm' uid token %}">Восстановить пароль</a>
		</div>
	</div>


	<div class="bottom-block">
		<footer>
		<div class="footer-contacts">
			<span class="contact mr25">letseat.help@gmail.com</span>
			<span class="contact mr25">+79289554624</span>
			<span class="contact">+79187188008</span>
		</div>
	</footer>
	</div>

</body>
</html>